<section class="banner-area enable-overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Deskboard</h2>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Deskboard</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-page section-padding">
   
   <div class="container">
   <div class="row">
   <div class="col-lg-3">
   <ul class="deskboard_sidebar">
   <li><a data-toggle="tab"  href="#">Flight Booking</a></li>
   <li class="active"><a data-toggle="tab"  href="#">My Trip</a></li>
   <li><a data-toggle="tab"  href="#">Wallet</a></li>
   <li><a href="#">My Account</a></li>
   <li><a href="index.html">Logout</a></li>
   </ul>
   </div>
   
   <div class="col-lg-9 vieflight">
   <div class="Deskboard-data-outer">
   <div class="title-section">
   <h1 class="title" style="font-size: 25px;font-weight: 600;color:#004477">My Account</h1>
   </div>
   <div id="mypolicy" class="mypolicy-data-outer">
    <div class="title-section">
    <ul class="deskboard-top-box">
    <li style="border-left:3px solid rgb(0, 172, 205)">
    <span class="deskboar-icons"><i class="fa fa-user-o"></i></span>
    <span class="box-details"><strong>04</strong><br> Completed Trip</span></li>
    
    <li style="border-left:3px solid #004477">
    <span class="deskboar-icons" style="background-color:#004477"><i class="fa fa-database"></i></span>
    <span class="box-details"><strong>0</strong><br>Pending Trip </span></li>
    
    <li style="border-left:3px solid #1cc88a">
    <span class="deskboar-icons" style="background-color:#1cc88a"><i class="fa fa-files-o"></i></span>
    <span class="box-details"><strong>03</strong><br> Cancel Trip</span></li>
    
    <li style="border-left:3px solid #f6c23e">
    <span class="deskboar-icons" style="background-color:#f6c23e"><i style="font-size: 21px;padding: 0 5px 2px 5px;" class="fa fa-usd" aria-hidden="true"></i></span>
    <span class="box-details"><strong>Rs. 45856</strong><br> Total</span></li>
    
  
    </ul>
    </div>
    
    <br>
    <div class="mypolicy-data" style="padding-top:15px;clear: both;">
    <h3 style="font-size:22px;color:#004477;font-weight: 600;">View Booked Flight</h3>
    <br>
     <table class="table table-striped mytable">
     <thead>
       <tr><th>Flight No</th><th>Departure Date</th><th>Departure Time</th><th>Arival Date </th><th>Arival Time </th><th>Total</th></tr>
     </thead>
     <tbody>
    <tr>
       <td>INS1000050</td>
       <td>NTL Premier Plus</td>
       <td>Active</td>
       <td>02/10/2020</td>
       <td>Qualified</td>
       <td>Rs. 10000</td>
    </tr>
    <tr>
      <td>INS1000050</td>
      <td>NTL Premier Plus</td>
      <td>Active</td>
      <td>02/10/2020</td>
      <td>Qualified</td>
      <td>Rs. 10000</td>
   </tr>
   <tr>
    <td>INS1000050</td>
    <td>NTL Premier Plus</td>
    <td>Active</td>
    <td>02/10/2020</td>
    <td>Qualified</td>
    <td>Rs. 10000</td>
 </tr>
   
 </tbody>
   </table>
    </div>
    </div>

   </div>
   
   
   
    </div>
   </div>
    
  
  